<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @todo_list.name %>
</p>

<p>
  <b>Description:</b>
  <%= @todo_list.description %>
</p>

<ul id="todo_list">
  <%= render @todo_list.messages %>
</ul>

<%= subscribe_to "/messages/new" %>

<%= form_for([@todo_list, Message.new(:todo_list_id=>@todo_list.id)], remote: true) do |f| %>
  <%= f.text_field :content %>
  <%= f.submit "Add task" %>
<% end %>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>

